# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.FromPaper.iml
# Datasource local storage ignored files
/../../../../../../../:\Develop\Project\FromPaper\.idea\.idea.FromPaper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
